<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="/js/introHCI.js"></script>
</head>

<body>
	<nav class="navbar mb-2">
		<a class="navbar-brand" href="/">Find Your Buddy</a>
	</nav>

	<div class="container">
        <form class="form-inline justify-content-center">
			<div class="form-group mx-2 mb-2">
				<label for="search" class="sr-only">Search</label>
				<input type="text" class="form-control" id="search" placeholder='{{data.dept}}'>
			</div>
			<button type="submit" class="btn btn-primary mb-2">Search</button>
        </form>
        <h4 class="text-center">Study Groups</h4>
	</div>

    <div class="container-fluid">
        <table class="table" id="travellers">
            <thead>
                <tr class="d-flex">
                    <th style="width: 25%">Class</th>
                    <th style="width: 30%">Topic</th>
                    <th style="width: 25%">Avail.</th>
                    <th style="width: 20%">Select</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.groups.groups}}
                <tr class="d-flex" id="row_{{id}}">
                    <td style="width: 25%">{{class}}</td>
                    <td style="width: 30%">{{title}}</td>
                    <td style="width: 25%">{{time}}</td>
                    <td style="width: 20%">
                        <button class="fa fa-angle-double-right" type="submit"></button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <footer class="bg-light text-lg-start">
			<button type="button" class="btn btn-primary btn-large fa fa-angle-left mx-3" onclick="history.back(-1)"> Back</button>
	</footer>
</body>
</html>