<!doctype html>

<html>
<head>
	<title>HCI Project Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="/js/event.js"></script>
</head>

<body>
	<nav class="navbar mb-2">
		<a class="navbar-brand" href="/">Find Your Buddy</a>
	</nav>

	<div class="body container">
        <h4 class="text-center my-3">Group Study Info</h4>
        <form class="mx-3">
            <div class="row my-2">
                <label for="class" class="col-3 col-form-label">Class</label>
                <div class="col-9">
                    <input type="text" readonly class="form-control-plaintext" id="class" value="{{data.class}}">
                </div>
            </div>
            <div class="row my-2">
                <label for="host" class="col-3 col-form-label">Host</label>
                <div class="col-9">
                    <input type="text" readonly class="form-control-plaintext" id="host" value="{{data.host.name}}">
                </div>
            </div>
            <div class="row my-2">
                <label for="title" class="col-3 col-form-label">Topic</label>
                <div class="col-9">
                    <input type="text" readonly class="form-control-plaintext" id="title" value="{{data.title}}">
                </div>
            </div>
            <div class="row my-2">
                <label for="time" class="col-3 col-form-label">Time</label>
                <div class="col-9">
                    <input type="text" readonly class="form-control-plaintext" id="time" value="{{data.time}}">
                </div>
            </div>
            <div class="row my-2">
                <label for="loc" class="col-3 col-form-label">Location</label>
                <div class="col-9">
                    <input type="text" readonly class="form-control-plaintext" id="loc" value="{{data.loc}}">
                </div>
            </div>
            <div class="row my-2">
                <label for="avail" class="col-3 col-form-label">Availibility</label>
                <div class="col-9">
                    <input type="text" readonly class="form-control-plaintext" id="avail" value="{{data.avail}}">
                </div>
            </div>
            <div class="row my-2">
                <label for="attendant" class="col-3 col-form-label">Attendant</label>
                <div class="col-9" id="att">
                    {{#each data.attendants}}
                    <input type="text" readonly class="form-control-plaintext" value="{{name}}">
                    {{/each}}
                </div>
            </div>
            <div class="row my-2">
                <label for="desc" class="col-3 col-form-label">Detail</label>
                <div class="col-12 my-2">
                    <textarea readonly class="form-control" id="desc" rows="8">{{data.desc}}</textarea>
                </div>
            </div>
        </form>
	</div>
    <footer class="bg-light text-lg-start">
        <div class="container">
        <div class="d-flex justify-content-between">
            {{#if isNew}}
            <div class="col-4">
                <button type="button" class="btn btn-primary btn-large fa fa-angle-check" onclick="window.location.href='/dept/{{deptID}}'"> Done</button>
            </div>
            {{else}}
            <div class="col-4">
                <button type="button" class="btn btn-primary btn-large fa fa-angle-left" onclick="history.back(-1)"> Back</button>
            </div>
            {{/if}}
            <div class="col-4">
                <button type="button" class="btn btn-primary btn-large fa fa-share" onclick="share({{id}})"> Share</button>
            </div>
            {{#unless  isHost}}
            {{!-- <div class="col-4">
                <button type="button" class="btn btn-primary btn-large fa fa-get-pocket" onclick="window.location.href='/save/{{id}}'"> Save</button>
            </div> --}}
            {{#if isAttorFull}}
            <div class="col-4" >
                <button type="button" id="btn-reserve" class="btn btn-primary btn-large fa fa-get-pocket" disabled='disabled'> Reserved</button>
            </div> --}}
            {{else}}
            <div class="col-4" >
                <button type="button" id="btn-reserve" class="btn btn-primary btn-large fa fa-get-pocket" onclick="reserve({{id}})"> Reserve</button>
            </div> --}}
            {{/if}}
            {{/unless}}
        </div>
        </div>
	</footer>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-body" id="modal-body">
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" id="btn-close" class="btn btn-danger"> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>